body {
    background-color: #5bbcd5;
}

form > div{
    margin-top: 20px;
}
 form [for="paul_timelinebundle_post_DateEvent"]{
     margin-right: 10px;
 }

 .paul_image{

 }
 .paul_image img{
     width: 200px;
     margin: 0 auto;
 }

 .middel_page{
     margin: 0 auto;
     float: inherit;
 }